* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,500;0,700;1,300;1,600&display=swap");

:root {
  --c1: rgb(255, 255, 255);
  --c2: #f1f1f1;
  --c3: #ec6806;
  --c4: #032232;
  --c5: #03223225;
  --b1: #f1f1f1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: var(--c2);
  font-family: "Montserrat", sans-serif;
}

.width {
  width: 100%;
  text-align: start;
}

span {
  color: var(--c6);
  font-size: 1rem;
  font-weight: 700;
}

/* qoshiq linklari */
/* https://youtu.be/_U0PrwLpb_Q */
/* https://youtu.be/fkz8UuEDIaE */
